<p>
  <strong>Autor:</strong>
  <%= comment.commenter %>
</p>
 
<p>
  <strong>Conteúdo:</strong>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Remover', [comment.post, comment], method: :delete, data: { confirm: 'Deseja realmente excluir este comentário?' } %>
</p>